/*

  RESETS

*/
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

* {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

html, body {
  height: 100%; }

.root-component-container .navbar-container {
  -webkit-app-region: drag;
  border-radius: 0px; }
.root-component-container .content {
  margin: 0 auto;
  width: 600px; }
