/*

  RESETS

*/
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
html, body {
  height: 100%;
}